.tab-content {
    display: none;
}

.tab-content.active {
    display: initial;
}

.page {
    background-color: white;
    padding: 10px 20px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}
