.entry-container {
    position: relative;
    margin-top: 5px;
}

.entry-block {
    display: flex;
    align-items: start;
}

.entry-id {
    width: 50px;
    margin: 5px 10px 0 0;
    text-align: right;
    font-family: monospace;
}

.editor-preview {
    width: calc(100% - 50px);
}

.button-container {
    position: absolute;
    top: 3px;
    right: 3px;
    display: flex;
    flex-direction: row;
    gap: 3px;
}